.error {
    color: red;
}

h3 {
    color:#294d7e;
    font-family: Roboto,sans-serif;
}

body{
    font-family: Roboto,sans-serif;
}

button {
    border-radius: 4px;
    color: white;
    background-color: #294d7e;
    height: 39px;
    padding: 8px;
    font-family: Roboto,sans-serif;
    font-size: 14px;
}

.action-button {
    width: 60px;
}

.readonly {
    background-color: #ccc;
    color: black;
}

input[type=submit] {
    border-radius: 4px;
    color: white;
    background-color: #294d7e;
    height: 39px;
    padding: 8px;
    font-family: Roboto,sans-serif;
    font-size: 14px;
}

input[type=checkbox] {
    border-radius: 4px;
    color: white;
    background-color: #294d7e;
    transform: scale(1.5);
}


input {
    padding: 6px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

input:focus {
    border: 1px solid #294d7e;
    outline: 1px solid #294d7e;
}